/*---------- example css ----------*/
/*name*/
.c-block-text{
    text-align: center;
    padding: 100px 0px;
    .c-textbox{
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 5px;
    }
    h3{
        font-size: 20px;
    }
    span{
        font-size: 15px;
        display: block; 
    }
    
}
.c-image-text{
    img{
        width: 100%;
    }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
    .c-block-text{
        padding: 100px 0px;
        .c-textbox{
            font-size: 45px;
            padding-bottom: 20px;
        }
        h3{
            font-size: 32px;
        }
        span{
            font-size: 25px;
        }
    }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
    .c-block-text{
        padding: 100px 0;
        .c-textbox{
            font-size: 45px;
            padding-bottom: 20px;
        }
        h3{
            font-size: 32px;
            padding-bottom: 30px;
        }
        span{
            font-size: 25px;
        }
    }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
    .c-block-text{
        padding: 100px 0;
        .c-textbox{
            font-size: 45px;
            padding-bottom: 20px;
        }
        h3{
            font-size: 32px;
            padding-bottom: 30px;
        }
        span{
            font-size: 25px;
        }
    }
}
//end example responsive css
/*---------- end example css ----------*/