/*---------- example css ----------*/
/*name*/
.l-footer{
    margin-top: 40px;   
    a{
        color: $color-white;
        text-align: center;
        img{
            width: 100%;
        }
    }
    span{
        display: block;
        font-size: 20px;
    }
}

.c-all-footer{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            .c-logo-footer{
                a{
                    img{
                        width: 25%;
                    }
                }
                
            }
        }
    }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
    .l-footer{
        margin-bottom: 40px;
        a{
            img{
                
            }
        }
        span{
            font-size: 20px;
        }
    }
    .c-logo-footer{
        margin-left: 40px;
        
    }
    .c-all-footer{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                display: inline-block;
                padding-right: 20px;
                float: left;
                .c-logo-footer{
                    a{
                        img{
                            width:100%;
                        }
                    }
                    
                }
            }
        }
    }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
    .l-footer{
        a{
            img{
                
            }
        }
        span{
            font-size: 20px;
        }
    }
    .c-all-footer{
        ul{
            li{
                padding-right: 80px;
                float: left;
            }
        }
    }
}   
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
    .l-footer{
        a{
            img{
                
            }
        }
        span{
            font-size: 20px;
        }
    }
    .c-all-footer{
        ul{
            li{
                padding-right: 120px;
                float: left;
            }
        }
    }
}
//end example responsive css
/*---------- end example css ----------*/