/*---------- example css ----------*/
/*name*/
.l-nav {
    padding: 40px 0;
}
.c-logo {
    text-align: left;
    margin-bottom: 10px;
    img {
        max-width: 200px;
        max-height: 100px;
    }
}
.c-menu-expand {
    width: 31px;
    height: 31px;
    border: none;
    background-color: transparent;
    position: absolute;
    z-index: 3;
    top: 80px;
    margin-top: -24px;
    right: 15px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    &:focus {
        outline: none;
        border: none;
    }
    span {
        background-color: red;
        font-size: 0;
        width: 29px;
        height: 5px;
        position: absolute;
        top: 0;
        left: 2px;
        @include border-radius(2px);
        &:before,
        &:after {
            content: "";
            background-color: red;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            @include transition-all(0.4s);
            @include border-radius(2px);
        }
        &:before {
            transform: translateY(-12px);
            width: 100%;
        }
        &:after {
            transform: translateY(12px);
            width: 100%;
        }
    }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min) {
    //mobile lanscape
}
@media (min-width: $screen-md-min) {
    //ipad portrait
    .c-menu-expand{
        top:105px;      
        span{
            width: 46px;
            left: -25px;
        }
    }
}
@media (min-width: $screen-lg-min) {
    //ipad lanscape & pc 1024x768px
    .c-menu-expand {
        display: none;
    }
    .c-logo {
        float: left;
    }
}
@media (min-width: $screen-xl-min) {
    //pc & mac 1280px grow up
}
//end example responsive css
/*---------- end example css ----------*/
