/*---------- example css ----------*/
/*name*/
.c-dropdown-menu {
  border-top: 3px solid black;
  padding: 12px 10px 12px 17px;
  background: #fff;
  position: absolute;
  top: 100%;
  //top: calc(100% + 12px);
  left: 0;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  margin-top: -10px;
  @include transition-all(0.2s);
  @include box-shadow(0 2px 4px rgba($color-black, 0.5));
  // font-family: $font-sego;
  &:before {
    //content: "";
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 2;
    left: 15px;
    top: -16px;
  }
  &:after {
    //content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    height: 12px;
    top: -12px;
    background: transparent;
  }
  &.is-right {
    left: auto;
    right: 0;
    &:before {
      left: auto;
      right: 15px;
    }
  }
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      &.divider {
        height: 1px;
        background: black;
        margin: 5px 0;
      }
      > a {
        @include transition-default;
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        text-decoration: none;
        color: $color-gray;
        padding: 5px 0;
        font-size: 14px;
        text-align: left;
      }
    }
  }
}
.c-menu {
  text-align: center;
  display: none;
  background: white;
  padding: 0 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 112px;
  z-index: 99;
  @include box-shadow(0 0 5px rgba($color-black, 0.4));
  //display: none;
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      position: relative;
      > a {
        text-transform: uppercase;
        //font-weight: 800;
        text-decoration: none;
        display: block;
        padding: 10px 0px;
        text-transform: uppercase;
        cursor: pointer;
        color: black;
      }
      &.is-active,
      &.active {
        > a {
        }
      }
      .c-submenu-btn {
        position: absolute;
        right: 0px;
        top: 10px;
        font-size: 20px;
      }
      &.c-menu-child {
        .c-dropdown-menu {
          position: static;
          margin-top: 0;
          visibility: visible;
          opacity: 1;
          display: none;
          width: auto;
          padding: 0;
          @include transition(none);
          @include box-shadow(none);
          &:before {
            display: none;
          }
          &:after {
            display: none;
          }
          > ul {
            > li {
              > a {
                padding: 5px 10px;
                color: black;
                text-align: center;
              }
              &:last-child {
                > a {
                  border-bottom: 1px solid transparent;
                }
              }
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
.c-login{
  cursor: pointer;
  i{
    color: $color-primary;
  }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
  .c-menu {
    top: 170px;
  }
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
  .c-menu {
    display: block !important;
    background: transparent;
    padding: 0;
    position: static;
    margin: auto;
    @include box-shadow(none);
    float: right;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 17px;
      //font-weight: 700;
      li {
        display: inline-block;
        padding-left: 20px;
        &.c-menu-child {
          position: relative;
          z-index: 10;
          .c-dropdown-menu {
            display: block !important;
            opacity: 0;
            position: absolute;
            width: 240px;
            @include transition-default;
            background: $color-white;
            @include box-shadow(0px 0px 3px rgba($color-black, 0.5));
            visibility: hidden;
            > ul {
              > li {
                padding-left: 15px;
                > a {
                  @include transition-default;
                }
                &:hover {
                  a {
                    color: $color-secondary;
                  }
                }
              }
            }
          }
          &:hover {
            .c-dropdown-menu {
              z-index: 2;
              visibility: visible;
              opacity: 1;
            }
          }
        }
        .c-submenu-btn {
          display: none;
        }
      }
    }
  }
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
}
//end example responsive css
/*---------- end example css ----------*/
