/*---------- example css ----------*/
/*name*/
.c-about-us {
    padding: 30px 20px;
    .col-md-6{
        background-color: $color-aboutus-background;
    }
  .c-about-image {
    img {
      width: 100%;
    }
  }
  .c-about-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    h1 {
      font-size: 26px;
      color: $color-green;
      padding: 20px 0px;
    }
    span {
      font-size: 15px;
      padding: 0px 30px 20px;
      display: block;
    }
    &__schedule{
        text-align: center;
        a {
            font-size: 19px;
            display: inline-block;
            color: $color-white;
            background-color: $color-green;
            border: 1px solid $color-green;
            padding: 5px 20px;
        }
    }
  }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
  .c-about-us {
    .col-md-6{
        padding: 0;
    }
    .c-about-image {
      img {
        width: 100%;
      }
    }
    .c-about-content {
      h1 {
        font-size: 25px;
        padding-bottom: 25px;
      }
      span {
        font-size: 17px;
        padding: 0px 30px 20px;
      }
      a {
        font-size: 20px;
        padding: 5px 25px;
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
  .c-about-us {
    .col-md-6{
        padding: 0;
    }
    .c-about-image {
      img {
        width: 100%;
      }
    }
    .c-about-content {
      h1 {
        font-size: 30px;
        padding-bottom: 25px;
      }
      span {
        font-size: 18px;
        padding: 0px 30px 20px;
      }
      a {
        font-size: 20px;
        padding: 10px 25px;
      }
    }
  }
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
  .c-about-us {
    .col-md-6{
        padding: 0;
    }
    .c-about-image {
      img {
        width: 100%;
      }
    }
    .c-about-content {
      h1 {
        font-size: 30px;
        padding-bottom: 20px;
      }
      span {
        font-size: 17px;
        padding: 0px 40px 20px;
      }
      a {
        font-size: 20px;
        padding: 8px 25px;
      }
    }
  }
}

//end example responsive css
/*---------- end example css ----------*/
