/*---------- example css ----------*/
/*name*/
.c-content-blog {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            a {
                color: black;
                &:hover {
                    color:black;
                }
            }
            margin: 30px 0px;
            width: 100%;
            border: 1px solid rgba(gray, 0.7);
            .c-left-blog {
                width: 100%;
                img {
                    width: 100%;
                }
                display: inline-block;
            }
            .c-right-blog {
                width: 100%;
                padding: 10px;
                float: right;
            }
        }
    }
}
.c-title-right {
    margin-bottom: 20px;
    a{
    font-size: 25px;
    line-height: 1;
    color: black;
    &:hover{
        color: black;
        text-decoration: none;
    }
}
}
.c-content-right {
    a{
        font-size: 17px;
        &:hover{
            color: black;
            text-decoration: none;
        }
    }
    
}
.c-title-blog {
    a {
        color: black;
        &:hover {
            color: red;
            transition: 0.5s;
            text-decoration: none;
        }
    }
    font-size: 25px;
    margin-bottom: 30px;
}

.c-information-class {
    border: 1px solid rgba(gray, 0.7);
    padding: 20px 30px;
    .c-title-class {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .c-img-class{
        img{
            width: 100%;
        }
    }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min) {
    //mobile lanscape
}
@media (min-width: $screen-md-min) {
    //ipad portrait
    .c-content-blog {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                margin: 30px 0px;
                width: 100%;
                border: 1px solid rgba(gray, 0.7);
                .c-left-blog {
                    width: 50%;
                    img {
                        width: 100%;
                    }
                    display: inline-block;
                }
                .c-right-blog {
                    width: 50%;
                    display: inline-block;
                    padding: 35px;
                }
            }
        }
    }
    .c-information-class {
        .c-title-class {
            font-size: 25px;
        }
        .c-content-class{
            p{
                font-size: 16px;
            }
            
        }
    }
}
@media (min-width: $screen-lg-min) {
    //ipad lanscape & pc 1024x768px
    .c-content-blog {
        ul {
            li {
                .c-right-blog {
                    padding: 50px;
                }
            }
        }
    }
    
    .c-title-blog {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .c-information-class {
        padding: 20px 30px;
        .c-title-class {
            font-size: 30px;
        }
        .c-content-class{
            p{
                font-size: 20px;
            }
            
        }
    }
}
@media (min-width: $screen-xl-min) {
    //pc & mac 1280px grow up
    .c-information-class {
        padding: 50px 90px;
        .c-title-class {
            font-size: 30px;
        }
        .c-content-class{
            p{
                font-size: 20px;
            }
            
        }
    }
}
//end example responsive css
/*---------- end example css ----------*/
