/*---------- example css ----------*/
/*name*/
.c-img-contact{
    img{
        width: 100%;
    }
}
.c-title-left{
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 20px;
    color: $color-primary;
}
.c-content-left{
    text-align: center;
    line-height: 3;
    font-size: 15px;

}
.c-build-text{
    padding: 0 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-size: 15px;
    height: 45px;
    &:hover{
        border: 1px solid black;
    }
    &:focus{
        border: 1px solid red;
        outline: none;
    }
}
.c-build-commit{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    padding: 10px;
    &:focus{
        border: 1px solid black;
    }
}
.c-btn-build{
    background: black;
    margin-top: 20px;
    width: 100%;
    color: white;
    border-radius: 0;
    height: 45px;
    border: none;
    font-size: 15px;
    &:hover{
        transition: 0.5s;
        background: rgba(gray, 0.9);
    }
    &:focus{
        box-shadow: none;
        border: none;
        background: black;
    }
    
}
.c-all-left{

    
    background:white;
}
.c-group-left{
    width: 90%;
    margin: auto;
}
.c-background-contact{
    .col-md-6{
        padding: 0;
        margin: 0;
    }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
    .c-all-left{

        display: flex;
        align-items: center;
        height: 100%;
        background:white;
        text-align: center;
    }
    .c-group-left{
        width: 90%;
        margin: auto;
    }
    .c-background-contact{
        margin-top: 50px;
        padding: 50px 0;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .c-container{
        max-width: 640px;
        width: 640px;
        margin: auto;
    }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
    .c-container{
        max-width: 1000px;
        width: 1000px;
    }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end example responsive css
/*---------- end example css ----------*/