/*---------- example css ----------*/
/*name*/
.c-faq-text{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            padding: 0px 20px 40px 20px;
            span:nth-child(1){
                font-size: 17px;
                display: block;
                padding-bottom: 15px;
            }
            span:nth-child(2){
                font-size: 15px;
                display: block;
            }
        }
    }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape
    
}
@media (min-width: $screen-md-min){//ipad portrait
    .c-faq-text{
        ul{
            li{
                padding: 0px 20px 50px 20px;
                span:nth-child(1){
                    font-size: 23px;
                    padding-bottom: 20px;
                }
                span:nth-child(2){
                    font-size: 20px;
                }
            }
        }
    }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
    .c-faq-text{
        ul{
            li{
                padding: 0px 20px 40px 20px;
                span:nth-child(1){
                    font-size: 23px;
                    padding-bottom: 15px;
                }
                span:nth-child(2){
                    font-size: 20px;
                }
            }
        }
    }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
    .c-faq-text{
        ul{
            li{
                padding: 0px 5px 60px 5px;
                span:nth-child(1){
                    font-size: 29px;
                    padding-bottom: 20px;
                }
                span:nth-child(2){
                    font-size: 24px;
                }
            }
        }
    }
}
//end example responsive css
/*---------- end example css ----------*/