/*---------- example css ----------*/
/*name*/
.c-banner-parallax {
  height: 220px;
  .react-parallax-content {
    height: 100%;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-white, 0.3);
  }
  &__content {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    width: 80%;
    max-width: 180px;
    text-align: center;
    h1 {
      font-size: 30px;
      color: $color-primary;
    }
    span {
      font-size: 11px;
      color: $color-black;
      font-style: italic;
    }
  }
}
.c-lessions-list {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      .c-lessions-img {
        position: relative;
        z-index: 1;
        padding-top: percentage(461/676);
        img {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        &__content {
          position: absolute;
          z-index: 3;
          bottom: 25px;
          left: 20px;
          text-align: left;
          .c-lessions-img__title {
            padding: 0 0 15px 0;
            color: $color-white;
            display: block;
          }
          .c-lessions-img__price {
            padding: 0 0 25px 0;
            color: $color-white;
            display: block;
          }
          a {
            display: block;
            background-color: $color-black;
            color: $color-white;
          }
        }
      }
    }
  }
}
.c-lession-bottom-img {
  position: relative;
  z-index: 1;
  padding-top: percentage(461/676);
  img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .c-lession-bottom-img-content {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    color: $color-white;
    width: 80%;
    // max-width: 150px;
    text-align: center;
    &__title {
      font-size: 16px;
      display: block;
      padding-bottom: 10px;
    }
    &__author {
      font-size: 15px;
      display: block;
    }
  }
}
.c-image-text-b {
  position: relative;
  z-index: 1;
  padding-top: percentage(677/320);
  overflow: hidden;
  img {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 50%;
    @include transform(translateX(-50%));
  }
  &:before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-black, 0.3);
  }
  &__content {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 15px;
    right: 15px;
    @include transform(translateY(-50%));
    color: $color-white;
    text-align: center;
    max-width: 320px;
    margin: auto;
    h2 {
      font-size: 26px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    b {
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      display: block;
      margin-bottom: 15px;
    }
    a {
      font-size: 16px;
      padding: 10px 20px;
      background: $color-primary;
      color: $color-white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.c-image-home-l {
  overflow: hidden;
  .is-img-full {
    img {
      width: 100%;
    }
  }
  .is-list {
    margin: 15px 0;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        width: 50%;
        float: left;
        text-align: center;
        margin-bottom: 25px;
        span {
          color: $color-primary;
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }
  }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
  .c-banner-parallax {
    height: 380px;
    &__content {
      max-width: 380px;
      h1 {
        font-size: 60px;
      }
      span {
        font-size: 23px;
      }
    }
  }
  .c-lessions-list {
    ul {
      li {
        .c-lessions-img {
          &__content {
            bottom: 100px;
            left: 60px;
            .c-lessions-img__title {
              padding: 0 0 15px 0;
              font-size: 40px;
            }
            .c-lessions-img__price {
              padding: 0 0 25px 0;
              font-size: 30px;
            }
            a {
              font-size: 35px;
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }
  .c-lession-bottom-img {
    .c-lession-bottom-img-content {
      &__title {
        font-size: 33px;
      }
      &__author {
        font-size: 30px;
      }
    }
  }
  .c-image-text-b {
    padding-top: percentage(840/1263);
    width: $container-md;
    margin: 20px auto;
    img {
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      height: 100%;
      left: 0;
      width: 100%;
      @include transform(translateX(0));
    }
    &__content {
      max-width: 570px;
      h2 {
        font-size: 32px;
        margin-bottom: 30px;
      }
      b {
        font-size: 24px;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
        margin-bottom: 30px;
      }
      a {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
  }
  .c-image-home-l {
    .col-md-6 {
      padding: 0;
    }
    .is-list {
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        max-width: 300px;
        margin: auto;
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
  .c-banner-parallax {
    height: 580px;
    &:before {
      width: 50%;
    }
    &__content {
      max-width: 400px;
      left: 25%;
      h1 {
        font-size: 70px;
      }
      span {
        font-size: 30px;
      }
    }
  }
  .c-lessions-list {
    ul {
      li {
        .c-lessions-img {
          &__content {
            bottom: 100px;
            left: 60px;
            .c-lessions-img__title {
              padding: 0 0 15px 0;
              font-size: 40px;
            }
            .c-lessions-img__price {
              padding: 0 0 25px 0;
              font-size: 30px;
            }
            a {
              font-size: 35px;
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }
  .c-lession-bottom-img {
    .c-lession-bottom-img-content {
      &__title {
        font-size: 26px;
        padding-bottom: 20px;
      }
      &__author {
        font-size: 23px;
      }
    }
  }
  .c-image-text-b {
    margin: 50px auto;
    width: $container-lg;
    &__content {
      max-width: 800px;
      h2 {
        font-size: 45px;
      }
      p {
        font-size: 16px;
      }
      a {
        font-size: 16px;
      }
    }
  }
  .c-image-home-l {
    .is-list {
      ul {
        max-width: 500px;
        margin: auto;
        li {
          span {
              font-size: 22px;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
  .c-banner-parallax {
    height: 85vh;
  }
  .c-lessions-list {
    ul {
      li {
        width: 50%;
        float: left;
        .c-lessions-img {
          &__content {
            bottom: 60px;
            left: 60px;
            .c-lessions-img__title {
              padding: 0 0 15px 0;
              font-size: 25px;
            }
            .c-lessions-img__price {
              padding: 0 0 25px 0;
              font-size: 20px;
            }
            a {
              font-size: 20px;
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }
  .c-lession-bottom-img {
    .c-lession-bottom-img-content {
      &__title {
        font-size: 28px;
        padding-bottom: 30px;
      }
      &__author {
        font-size: 24px;
      }
    }
  }
  .c-image-text-b {
    width: $container-xl;
  }
}
//end example responsive css
/*---------- end example css ----------*/
