/*---------- example css ----------*/
/*name*/
.c-title-login{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.c-btn-login{
    width: 50%;
    margin: auto;
}
.c-otp-link{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-size: 20px;
    input{
      width: 3rem !important;
      height: 3rem !important;
      border-radius: 10px;
      border: 1px solid rgba(gray, 0.7);
      &:focus{
          outline: none;
      }
    }
  }

  .c-title-otp{
      text-align: center;
  }
  .c-change-point-box {

    &__form {
      max-width: 550px;
      margin: auto;
      .btn {
        float: right;
      }
    }
  }
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
    .c-import-phone {
        width: 40%;
        margin: auto;
        input{
            font-size: 25px;
        }
    }
    .c-btn-login{
        width: 20%;
        margin: auto;
    }
    .c-title-login{
       
        h2{
            font-size: 50px;
        }
        p{
            font-size: 30px;
        }
    }
    .c-otp-link{
        font-size: 20px;
        input{
          width: 4rem !important;
          height: 4rem !important;
        }
      }
      .c-title-otp{
        text-align: center;
        font-size: 20px;
    }

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
    .c-title-login{
       
        h2{
            font-size: 60px;
        }
        p{
            font-size: 35px;
        }
    }
    .c-otp-link{
        font-size: 20px;
        input{
          width: 5rem !important;
          height: 5rem !important;
        }
      }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end example responsive css
/*---------- end example css ----------*/