/*---------- example css ----------*/
/*name*/
.c-new-list {
  margin-top: 90px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      width: 100%;
      padding: 10px 0;
      .c-img-list {
        position: relative;
        z-index: 2;
        padding-top: 100%;
        a {
          color: white;
          &:hover {
            color: white;
            text-decoration: none;
          }
          img {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;
            width: 100%;
            height: 100%;
          }
          span {
            position: absolute;
            z-index: 4;
            bottom: 40px;
            color: white;
            font-size: 20px;
            padding: 0px 25px;
          }
        }
      }
    }
  }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
  .c-new-list {
    margin-top: 90px;
    ul {
      padding: 0;
      margin: auto;
      display: flex;
      list-style: none;
      li {
        width: percentage(1/3);
        padding: 0 20px;
        .c-img-list {
          a {
            position: absolute;
            display: block;
            z-index: 3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include transition-default;
            &:before {
              content: "";
              position: absolute;
              z-index: 4;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba($color-white, 0);
              @include transition-default;
            }
            span {
              z-index: 5;
              bottom: 40px;
              font-size: 20px;
              padding: 0px 25px;
              @include transition-default;
            }
            &:hover {
              &:before {
                background: rgba(white, 0.2);
              }
              span {
                color: $color-primary;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
}
//end example responsive css
/*---------- end example css ----------*/
