/*---------- example css ----------*/
/*name*/
.c-title-service {
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}
.c-content-service {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            width: 100%;
            padding: 0 10px;
            margin-bottom: 20px;
            .c-setup-service {
                border: 1px solid rgba(gray, 0.5);
                img {
                    width: 100%;
                }
                .c-content-img {
                    margin-top: 15px;
                    padding: 0 20px;
                    p {
                        font-size: 20px;
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            border: 1px solid rgba(gray, 0.5);
                            width: 100%;
                            bottom: -15px;
                        }
                    }
                }
                .c-btn-book {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    padding: 0 15px;
                    button {
                        color: white;
                        border: none;
                        background: #059244;
                        padding: 5px 20px;
                        font-size: 16px;
                        &:focus {
                            background: rgba(5, 146, 68, 0.7);
                        }
                    }
                }
            }
        }
    }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min) {
    //mobile lanscape
}
@media (min-width: $screen-md-min) {
    //ipad portrait
    .c-content-service {
        ul {
            li {
                width: percentage(1/3);
                padding: 0 10px;
                margin-bottom: 20px;
            }
        }
    }
}
@media (min-width: $screen-lg-min) {
    //ipad lanscape & pc 1024x768px
}
@media (min-width: $screen-xl-min) {
    //pc & mac 1280px grow up
}
//end example responsive css
/*---------- end example css ----------*/
