/*---------- example css ----------*/
.c-partner-list {
  background: #f4f9f8;
  padding: 30px 0;
  &__title {
    text-align: center;
    margin-bottom: 30px;
    h2 {
      text-transform: uppercase;
      color: $color-primary;
      font-size: 24px;
    }
  }
  &__slider {
    position: relative;
    z-index: 1;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        .c-partner-list__item {
          width: 200px;
          height: 200px;
          @include border-radius(50%);
          overflow: hidden;
          margin: auto;
        }
      }
    }
  }
  &__left{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 5%;
    @include transform(translateY(-50%));
    cursor: pointer;
    i{
        font-size: 30px;
    }
  } 
  &__right{
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 5%;
    @include transform(translateY(-50%));
    cursor: pointer;
    i{
        font-size: 30px;
    }
  } 
}
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
  .c-partner-list {
    padding: 45px 0;
    &__title {
      margin-bottom: 45px;
      h2 {
        font-size: 30px;
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
  .c-partner-list {
    padding: 60px 0;
    &__title {
      margin-bottom: 60px;
      h2 {
        font-size: 40px;
      }
    }
  }
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
}
//end example responsive css
/*---------- end example css ----------*/
