/*---------- example css ----------*/
/*name*/
.c-strong-title {
    color: $color-primary;
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
    &__myclass{
        color: black;
        font-size: 15px;
    }
}
.c-strong {
   
    &__left {
        
        img {
            width: 100%;
        }
    }
    &__right {
        
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        background: #f4f9f8;
        
        p {
            color: $color-primary;
            font-size: 20px;
        }
        span{
            font-size: 15px;
        }
        .c-content-strong{
           
        }
    }
}
.c-all-content{
    .c-col{
        .col-md-6{
            margin-bottom: 30px;
        }
    }
    .c-col:nth-child(2n){
        .row{
            flex-direction: row-reverse;
        }
        
    }
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min) {
    //mobile lanscape
}
@media (min-width: $screen-md-min) {
    //ipad portrait
    .c-strong-title {
        margin-bottom: 40px;
        margin-top: 70px;
        font-size: 40px;
        &__myclass{
            font-size: 23px;
        }
    }
    .c-strong {
        &__right {
            p {
                font-size: 25px;
            }
            span{
                font-size: 20px;
            }
        }
    }
}
@media (min-width: $screen-lg-min) {
    //ipad lanscape & pc 1024x768px
}
@media (min-width: $screen-xl-min) {
    //pc & mac 1280px grow up
}
//end example responsive css
/*---------- end example css ----------*/
